.Grid_Container{
 width: 80%;
 height: 75%;
 margin: 2rem 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 box-shadow: 1px 2px  8px 3px rgb(66, 66, 66);

}

.Filter_container{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #08414a;
    padding: 2rem 1rem;
}
.Filter_container h1{
  margin-left: 1rem;
  color: white;
  font-weight: 500;
  text-shadow: 1px 2px 3px black ;
  text-transform: uppercase;


}
.Filter_container input{
    width: 30%;
    padding :8px 10px;
    margin-right: 1rem;
    outline: none;
}

.Grid_Container table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
    margin: 0rem 1rem;
    border: none;
    


  }

  
  
 
  table th,
  table  td {
    padding: 10px;
    text-align: left;
  }
  
  table th {
    font-size: 0.9rem;
    background-color: #daeef1;
    color: black;
    font-weight: 500;
  }

  table tbody a{
    text-decoration: none;

  }
 table tbody tr:nth-child(even) {
  background-color: #daeef1;
}


  
table tbody tr:nth-child(odd) {
  background-color: white;
}

table tbody tr:hover{
  background-color: rgb(114, 176, 193);
  cursor: pointer;

}
.paginations{
/* border: 2px red solid; */
width: 100%;
height: 100%;
background-color: #08414a;

padding: 1rem;
display: flex;
justify-content: center;
align-items: center;
}
button{
  padding: 5px 10px;
  margin: 0.5rem;
  cursor: pointer;
  color: #183032;
}
.numbers {
    padding: 5px 10px;
    margin: 0.5rem;
    background-color: transparent;
    color: white;
    border:none;
    border-radius: 50%;
    font-size: 0.9rem;

  }

  .numbers:hover{
    background-color:white;
    color: #08414a;

  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .user_container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #08414a;
    color: white;
  }

  .heading_user{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }

  .heading_user h1{
    text-shadow: 1px 2px 3px black ;
    text-transform: uppercase;
  }

  
  

  @media  only screen  and (max-width:480px){

    .Grid_Container{
      width: 90%;
      height: 75%;
     
    }

    .userdetails{
      width: 90%;
      margin: 1rem 0rem;
    }

    .table_comments{
      font-size: 0.4rem;
    }

    .heading_user h1{
      font-size: 1rem;
    }
   
  }

  @media  only screen  and (min-width:480px)and (max-width:550px){

  
    .userdetails{
      width: 90%;
      margin: 1rem 0rem;
    }
  }